<h1>Users Index</h1>

<div class="row">
	
	<%= @users.each do |user| %>
		<div>
			<a href="/users/<%= user.id %>">
				<%= image_tag user.user_img.url(:thumb), class: "user" %>
			</a>
		</div>
	<% end %>

</div>