<h1>Creators Index</h1>

<div class="row">
	
	<%= @creators.each do |creator| %>
		<div>
			<a href="/creators/<%= creator.id %>">
				<%= image_tag creator.creator_img.url(:medium), class: "creator" %>
			</a>
		</div>
	<% end %>

</div>